@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: "Inter", sans-serif;
}

.tes {
    list-style: none;
    cursor: pointer;
    position: relative;
  }
  
  .tes:hover::before {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    background: #20C462;
    right: 0;
    bottom: -16px;
    color: #20C462;
  }
  
  .user{
    position: relative;
    display: flex;
    justify-content: center;
  }

  .user::after{
  position: absolute;
  background-color: #20C462;
  left: 0;
  bottom: -16px;
  height: 2px;
  content: '';
  width: 100%;
  
  }

  .stepper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .step-number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    z-index: 2;
  }
  
  .step-name {
    font-size: 14px;
  }
  
  .active .step-number {
    background-color: #007bff;
    color: #fff;
  }
  
  .complete .step-number {
    background-color: #28a745;
    color: #fff;
  }
  
  .progress-bar {
    position: absolute;
    top: 25%;
    width: 100%;
    left: 0;
    height: 4px;
    background-color: #ccc;
  }
  
  .progress {
    height: 100%;
    background-color: #28a745;
    transition: 0.2s ease;
  }


  /* stepper */
  .step-item:not(:first-child):before {
    @apply content-[''] bg-slate-200 absolute w-full h-[3px] right-2/4 top-1/3
    -translate-y-1/2;
    /* content: '';
    background-color: slategray ;
    position: absolute;
    width: 100%; */
  }

  .active .step {
    @apply bg-blue-600;
  }

  .complete .step {
    @apply bg-green-600
  }